body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.dashboard-container {
    display: flex;
}

.sidebar {
    background-color: #2c3e50;
    color: #ecf0f1;
    width: 290px;
    height: auto;
    padding: 20px;
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar img {
    width: 100px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 10px 0;
}

.sidebar nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar nav ul li a i {
    margin-right: 10px;
}

.sidebar nav ul li a.active {
    background-color: #3498db;
    border-radius: 5px;
    padding: 6px;
}





.main-content {
    flex: 1;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
    color: #333;
}

header p {
    color: #777;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stat-box {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 0 10px;
}

.stat-box h3 {
    margin: 0;
    color: #333;
}

.latest-appointments {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.latest-appointments h2 {
    margin: 0 0 10px;
}

.latest-appointments table {
    width: 100%;
    border-collapse: collapse;
}

.latest-appointments th,
.latest-appointments td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.latest-appointments th {
    background-color: #f4f4f4;
}

.latest-appointments tr:hover {
    background-color: #f1f1f1;
}
.appointment-form {
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
}

.appointment-form h2 {
    margin-bottom: 20px; 
    color: #333; 
}

.appointment-form-container .form-group {
    margin-bottom: 15px; 
}

.appointment-form-container label {
    font-weight: bold; 
}

.appointment-form-container .form-control {
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 10px; 
    transition: border-color 0.3s; 
}

.appointment-form-container .form-control:focus {
    border-color: #3498db; 
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); 
}

.appointment-form-container .btn {
    width: 100%;
    padding: 12px; 
    font-size: 16px;
}
.appointment-form-container select.form-control {
    height: 50px; 
    padding: 10px; 
    font-size: 16px; 
}
.alert-success {
    background-color: #d4edda;
    color: #155724; 
    border: 1px solid #c3e6cb; 
    padding: 15px; 
    margin-bottom: 20px; 
} 